.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form form input[type="number"], input[type="text"] {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 300px;
}
.form form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.form form input[type="submit"]:hover {
  background-color: #3e8e41;
}

